# Tuesday: Variables

In [5]:
## data types in Python
#Numeric Types: int, float, complex
print(2)
print(complex(1, 5))
print(type(complex(1, 5))) # complex

2
<class 'int'>
1.2
<class 'float'>
(1+5j)
<class 'complex'>

In [9]:
## data types in Python
# Text Types(String)
print('Hello everybody')
print(type('Hello everybody')) #str

Hello everybody
<class 'str'>

In [1]:
## data types in Python
# Mapping Type(Dictionry)
print({'name': 'Nat', 'age': 25})
print(type({'name': 'Mustapha', 'age': 25})) #dict

{'name': 'Nat', 'age': 25}
<class 'dict'>

In [2]:
## data types in Python
# Set Types: set, frozenset
print({'Jade', 'David', 'Alex'})
print(type({'Jade', 'David', 'Alex'})) #set
print(frozenset({'Jade', 'David', 'Alex'})) 
print(type(frozenset({'Jade', 'David', 'Alex'}))) # forzenset

{'David', 'Jade', 'Alex'}
<class 'set'>
frozenset({'David', 'Jade', 'Alex'})
<class 'frozenset'>

In [12]:
""""Variables taken values and store it in memory location, in other words, variables is save data in memory location ."""
#Declare OR initialize variables "Mo" is str data types 
name = "Mo" #storing data values called for in this example Mo into variable called name
print(name)
print(type(name))
name_02 = "alex"
print(name, name_02) # soring multiple variables

Mo
<class 'str'>
Mo alex

In [13]:
#Storing : int, float and complex
int_num = 10
print(int_num)
print(type(int_num))
float_num = 2.2
print(float_num)
print(type(float_num))
complex_num = 1+2j
print(complex_num)
print(type(complex_num))
name = 'brahim'
num = 3 
print(name, num) # storing str and int

10
<class 'int'>
2.2
<class 'float'>
(1+2j)
<class 'complex'>
brahim 3

In [17]:
# Storing Boolean variables
true = True
print(true)
print(type(true))
false = False
print(false)
print(type(false))

True
<class 'bool'>
False
<class 'bool'>

In [19]:
#arithmetic operation
num1 = 2
num2 = 2
num3 = 2.2
num4 = 1+2j
res = num1 + num2
res1 = num1 * num2
res2 = num1 / num2
res3 = num1 // num2
res4 = num2* num4
res5 = num1**num2
res6 = num1 + num3
res7 = num1 - num3
res8 = num1 * num3
res9 = num1 / num3
print(res, res1, res2, res3, res4, res5, res6, res7, res8, res9)

4 4 1.0 1 (2+4j) 4 4.2 -0.20000000000000018 4.4 0.9090909090909091

In [21]:
#Python is language that makes it easy for us to change the values
name  = 'fridman'
print(name)
name = 'Mo'
print(name)

fridman
Mo

# Tuesday: EXERCISES

In [1]:
#Exercises number one
"""Variable Output: Store the value 3 in a variable called “x” and the value 10 in
a variable called “y”. Save the result of x * y into a separate variable called
“result”. Finally, output the information so it shows like the following:"""
x, y = 3, 10
print(x*y)

30

In [2]:
#Exercises number two
"""Area Calculation: Calculate the area of a 245.54” x 13.66” rectangle. Print out
the result. HINT: Area is width multiplied by height."""
width  = 245.54
height = 13.66
rectangle_Area_Calculation = width * height
print(rectangle_Area_Calculation)

3354.0764

# Wednesday: Working with Strings Part I

1) String Concatenation

In [1]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [2]:
# using the addition operator with variables
first_name = "John" #we store the first name called "John" into the variable "first_name".
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

2) Formatting Strings

In [3]:
#injecting variables using the format methode
name = "John"
print("Hello {}".format(name))
print("Hellow {}, you are {} years old!".format(name, 28))

Hello John
Hellow John, you are 28 years old!

3) f Strings (New in Python 3.6)   
---> This methode (f Strings) is an other way to inject variables a string.

In [4]:
#using the new f string
name = "John"
print(f"Hello {name}")

Hello John

4) Formatting in Python 2    
Note : Python 2 doesn't include the .format() methode, so in this case, we use the operation % followed by s or d.   
%s : for text type   
%d : for Numeric type

In [9]:
#one major difference between versions 2 &3
name = "John"
print("Hello, %s" %name)

Hello, John

In [11]:
#python 2 multiple variable formatting
first_name  ="john"
last_name = "Smith"
print("Hello, %s %s" %(first_name, last_name)) # surround the variables in parenthesis

Hello, john Smith

4) String Index  
Question: How are the strings stored?   
When a computer saves a string into memory, each character within the string is assigned what we call an “index.” An index is essentially a location in memory.   
Note : Indexing in most languages, including python, starts at 0 not 1.

In [12]:
# using indexes to print each element
word = "Hello"
print( word[ 0 ] ) # will output 'H'
print( word[ 1 ] ) # will output 'e'
print( word[ -1 ] ) # will output 'o'

H
e
o

Note : Index -1 gives us the last character

5) String Slicing   
Slicing is essentially when you only want a piece of the variable.   
Note : Slicing is used mostly with Python lists and strings.

In [14]:
#Extract only "He" from the word "Hello"
print( word[ 0 : 2 ] )

He

The general rule: variable_name[ start : stop : step ]   
Note : In this example "word[ 0 : 2 ]", we have start = 0, stop = 2, and step = 1

In [15]:
#Extract only "Hlo" from the word "Hello"
print( word[ 0 : 5 : 2 ] )

Hlo

6) WEDNESDAY EXERCISES

Q1) Variable Injection: Create a print statement that injects an integer,
float, boolean, and string all into one line. The output should look like
“23 4.5 False John”.

In [16]:
name = "John"
print("{} {} {} {}".format(23, 4.5, False, name))

23 4.5 False John

Q2) Fill in the Blanks: Using the format method, fill in the following
blanks by assigning your name and favorite activities into variables:     
"{ }'s favorite sports is { }."   
"{ } is working on { } programming!"

In [1]:
name = "Mustafa"
sport = "football"
work = "python"
print("{}'s favorite sports is {}.".format(name, sport))
print("{} is working on {} programming!".format(name, work))

Mustafa's favorite sports is football.
Mustafa is working on python programming!

# Thursday: String Manipulation Part II

1- .title(): uses to captizalied Strings

#Using the title method to capitalize a str
name= "john smith"
print(name.title())

2- .lower(), .upper()

In [6]:
name= "john smith"
print(name.upper())
print(name.lower())

JOHN SMITH
john smith

3- .replace()

In [8]:
#This method replacing some symbol in a statement with another symbol(in this case we replacing, "!" by ".")
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

4- .find(): for  searching about string

In [15]:
# finding the word or char....
s = "Look over that way"
print( s.find("Look"))
print( s.find("over"))
print(s.find("that"))
print( s.find("way"))
print( s.find("r"))
print( s.find("Sam")) #return -1

0
5
10
15
8
-1

5- .strip(): uses to remove the blanck space

In [41]:
# removing white space with strip
name = " john smith hoffmann "
print( name.strip( ) )
print(name.strip(' n '))
print(name.strip(' an '))

john smith hoffmann
john smith hoffma
john smith hoffm

6-  .lstrip(),  .rstrip()

In [30]:
name = "  john  "
print(name.lstrip())
print(name.rstrip())

john
  john

7- .split( ): uses thos method to spliting a string to  list of words

In [44]:
# String to a list of words
words= "Python is a high level language"
print( words.split(" ") )

['Python', 'is', 'a', 'high', 'level', 'language']

# THURSDAY EXERCISES

Exercises number one: Uppercasing: Try manipulating the string “uppercase” so it prints out as all
uppercase letters. You’ll need to look up a new method.

In [46]:
string = "uppercase"
print(string.upper())

UPPERCASE

Exercises number two: Strip Symbols: Strip all the dollar signs from the left side of this string “$$John
Smith”. Try it with .lstrip( ) and .strip( ). To

In [54]:
name = "$$John Smith"
print(name.strip('$'))
print(name.lstrip('$'))

John Smith
John Smith